@font-face {
	font-family: 'GolosUIWebVF';
	src: url('../fonts/golos-ui/golos-ui_vf.woff2') format('woff2'),
		url('../fonts/golos-ui/golos-ui_vf.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'GolosUIWebVF', system-ui, sans-serif;
	}
}
